.img-container img {
    width: 60%;
    max-height: 870px;
    margin-top: 0;
    margin-left: 20%;
    margin-right: 17%;
    margin-bottom: 0;
}

.container {
    padding: 0;
    margin: 5;
    font-size: larger;
    
}

